@import url("https://fonts.googleapis.com/css2?family=Chilanka&family=Oswald:wght@300;500&display=swap");

// MIXINS
@mixin flex($align: center, $justify: center, $direction: row, $wrap: nowrap) {
    display: flex;

    justify-content: $justify;
    flex-direction: $direction;
    align-items: $align;
}

@mixin transition($prop: all, $time: .25s, $ease: ease) {
    -webkit-transition: $prop $time $ease;
       -moz-transition: $prop $time $ease;
        -ms-transition: $prop $time $ease;
         -o-transition: $prop $time $ease;
            transition: $prop $time $ease;
}

@mixin container() {
    border-radius: 0 0 5px 5px;
    background: $color-background-darker;
    -webkit-box-shadow: inset 0 0 15px -10px rgba(0, 0, 0, .75);
       -moz-box-shadow: inset 0 0 15px -10px rgba(0, 0, 0, .75);
            box-shadow: inset 0 0 15px -10px rgba(0, 0, 0, .75);
}

// FONTS
@font-face {
    font-family: Fauxdesto;

    src: url("../fonts/Nodesto-Caps-Condensed.otf") format("opentype");
}
@font-face {
    font-family: FauxdestoItalic;

    src: url("../fonts/Nodesto-Caps-Condensed-Italic.otf") format("opentype");
}

@font-face {
    font-family: Bookinsanity;

    src: url("../fonts/Bookinsanity.otf") format("opentype");
}
@font-face {
    font-family: BookinsanityBold;

    src: url("../fonts/Bookinsanity-Bold.otf") format("opentype");
}
@font-face {
    font-family: BookinsanityItalic;

    src: url("../fonts/Bookinsanity-Italic.otf") format("opentype");
}
@font-face {
    font-family: BookinsanityBoldItalic;

    src: url("../fonts/Bookinsanity-BoldItalic.otf") format("opentype");
}

// VARS
$color-footer-bg: #e9ecef;
$color-background-white: white;
$color-background-darker: #f9f9f9;
$color-background-card-alpha: rgba(255,255,255,.75);
$color-bshr: rgba(0,0,0,.1);
$color-bsborder: #ced4da;
$color-active-background: darken(gray, 25%);
$color-active-text: white;
$color-inactive-background: #e9ecef;
$color-inactive-text: black;
$color-hover-background: black;
$color-hover-text: white;
$color-group-text: #495057;
$color-edit-border: darkgray;

// font-families
$fontFamily-fauxdesto: Fauxdesto, Impact, Charcoal, sans-serif;
$fontFamily-fauxdesto-italic: FauxdestoItalic, Impact, Charcoal, sans-serif;
$fontFamily-oswald: Oswald, Helvetica, Arial, sans-serif;
$fontFamily-handwritten: Chilanka, cursive;
$fontFamily-book-normal: Bookinsanity, serif;
$fontFamily-book-bold: BookinsanityBold, serif;
$fontFamily-book-italic: BookinsanityItalic, serif;
$fontFamily-book-boldItalic: BookinsanityBoldItalic, serif;


// STYLES
body {
    min-width: 375px;

    background-color: $color-footer-bg !important;
}

.block {
    display: block;
}

.condense {
    display: none;
}

.bookFont {
    font-family: $fontFamily-book-normal;
    line-height: 1.25;

    b,
    &.bold {
        font-family: $fontFamily-book-bold;
        font-weight: bold;
    }

    i,
    &.italic {
        font-family: $fontFamily-book-italic;
        font-style: italic;
    }

    u,
    &.bold.italic {
        font-family: $fontFamily-book-boldItalic;
        font-style: italic;
        font-weight: bold;

        text-decoration: none;
    }
}

.fauxdesto {
    font-family: $fontFamily-fauxdesto;

    &.italic {
        font-family: $fontFamily-fauxdesto-italic;
        font-style: italic;
    }
}

.handwritten {
    font-family: $fontFamily-handwritten;
}

.oswald {
    font-family: $fontFamily-oswald;
}


.modalDiceIcon {
    margin-top: -.3rem;
}

.modalTitle {
    font-style: italic !important;
}

.modal-footer {
    button {
        // padding-right: .6rem;
        // padding-left: .6rem;
    }
    button:first-of-type {
        margin-left: 0;
    }
    button:last-of-type {
        margin-right: 0;
    }
}

// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .condense {
        display: initial;
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}
