// IMPORTS
@import "../common/common.scss";

// ANIMS
@keyframes spinOnceFast {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(180deg);
    }
}

// STYLES
.selectWrapper {
    position: relative;

    width: 100%;
    margin-bottom: .75rem;

    -webkit-transition: all .25s ease;
       -moz-transition: all .25s ease;
        -ms-transition: all .25s ease;
         -o-transition: all .25s ease;
            transition: all .25s ease;

    background: white;

    &:not(:last-of-type) {
        margin-bottom: .25rem;
    }

    &:hover,
    &:focus {
        cursor: pointer;
    }

    &.disabled {
        opacity: .5;
        color: #999;
    }

    .checkArea {
        flex-wrap: nowrap;
    }

    .radioArea {
        @include flex(flex-start, stretch, column);

        .option {
            width: 100%;

            @include flex(stretch, flex-start);

            .input-group-text,
            .label {
                border-radius: 10px;
            }

            .input-group-text {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }

            .label {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }

            &:not(:last-of-type) {
                .input-group-text,
                .label {
                    border-bottom: 0;
                    border-bottom-right-radius: 0;
                    border-bottom-left-radius: 0;
                }
            }

            &:not(:first-of-type) {
                .input-group-text,
                .label {
                    border-top: 1px solid $color-bsborder;
                    border-top-left-radius: 0;
                    border-top-right-radius: 0;
                }
            }
        }
    }

    .label {
        display: flex !important;
        min-height: calc(1.5em + .75rem + 2px);
        padding: .25rem .6rem;
        margin: 0;

        align-items: center !important;
        justify-content: flex-start !important;
        flex-grow: 1;

        border: 1px solid #ced4da;
        border-radius: 0 .25rem .25rem 0;
        background-clip: padding-box;

        b,
        i,
        u {
            display: contents;
            //BUGGY? NEEDS FIX
        }
    }

    .button {
        position: absolute;
        top: calc(-.5rem + -20px);
        right: 0;

        width: 20px !important;
        height: 20px !important;
        padding: 0;
        margin: 0;

        box-sizing: border-box;

        -webkit-transition: all .25s ease;
           -moz-transition: all .25s ease;
            -ms-transition: all .25s ease;
             -o-transition: all .25s ease;
                transition: all .25s ease;

        color: $color-bsborder;
        border: 2px solid currentColor;
        border-radius: 10px;
        outline: none;
        background: $color-background-white;

        @include flex();

        &:before {
            position: absolute;
            top: 7px;

            width: 12px;
            height: 2px;

            content: "";

            -webkit-transform: rotate(-45deg);
                    transform: rotate(-45deg);

            background-color: currentColor;
        }

        &:after {
            position: absolute;
            top: 7px;

            width: 12px;
            height: 2px;

            content: "";

            -webkit-transform: rotate(45deg);
                    transform: rotate(45deg);

            background-color: currentColor;
        }

        &:hover,
        &:focus {
            cursor: pointer;

            animation-name: spinOnceFast;
            animation-duration: 500ms;
            animation-timing-function: ease;
            animation-iteration-count: 1;

            color: black;
        }

        &.hidden {
            cursor: auto !important;
        }
    }
}
