// IMPORTS
@import "./utils/common.scss";

// VARS
$namePadding: 2px;

// ANIMS
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes swing {
    20% {
        -webkit-transform: rotate(15deg);
                transform: rotate(15deg);
    }

    40% {
        -webkit-transform: rotate(-10deg);
                transform: rotate(-10deg);
    }

    60% {
        -webkit-transform: rotate(5deg);
                transform: rotate(5deg);
    }

    80% {
        -webkit-transform: rotate(-5deg);
                transform: rotate(-5deg);
    }

    100% {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
}

@keyframes swing {
    20% {
        -webkit-transform: rotate(15deg);
            -ms-transform: rotate(15deg);
                transform: rotate(15deg);
    }

    40% {
        -webkit-transform: rotate(-10deg);
            -ms-transform: rotate(-10deg);
                transform: rotate(-10deg);
    }

    60% {
        -webkit-transform: rotate(5deg);
            -ms-transform: rotate(5deg);
                transform: rotate(5deg);
    }

    80% {
        -webkit-transform: rotate(-5deg);
            -ms-transform: rotate(-5deg);
                transform: rotate(-5deg);
    }

    100% {
        -webkit-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
                transform: rotate(0deg);
    }
}

// STYLES
.attrList {
    padding-left: 1rem;
    margin: 0;
}

.draggableList {
    display: block;
    padding: 0;
    margin: 1rem auto;

    list-style: none;

    &.dStatic {
        margin-top: -.25rem;
    }

    .dItem {
        position: relative;

        width: auto;
        padding: .5rem 2rem;
        margin-bottom: .75rem;

        font-size: .9rem;

        cursor: pointer;

        border: 2px solid $color-active-background;
        border-radius: 10px;
        background: $color-background-darker;

        @include flex();

        & > span {
            text-align: center;
        }

        .dCode {
            margin-right: -.1rem;

            white-space: nowrap;
        }

        &:not(.dUndraggable) {
            &:hover,
            &:focus {
                @include transition();

                .dIcon {
                    color: $color-moveBg;
                }
            }

            &.dragging,
            &:active {
                z-index: 1000;

                color: $color-active-text;
                border-color: $color-moveBorder;
                background-color: $color-moveBg;
                -webkit-box-shadow: 0 10px 10px 0 rgba(0, 0, 0, .4);
                   -moz-box-shadow: 0 10px 10px 0 rgba(0, 0, 0, .4);
                        box-shadow: 0 10px 10px 0 rgba(0, 0, 0, .4);

                .dIcon {
                    color: $color-active-text;
                }
            }
        }

        &.dUndraggable {
            cursor: auto;

            opacity: .5;

            &.dFirst {
                border-bottom-right-radius: 0;
                border-bottom-left-radius: 0;
            }
        }

        .dIcon {
            position: absolute;
            right: .5rem;

            color: gray;

            @include transition();
        }

        .dTypeIcon {
            position: absolute;
            left: .5rem;
        }

        span {
            margin: .25rem;

            font-family: $fontFamily-book-bold;

            &:first-of-type {
                margin-left: .5rem;
            }

            &:last-of-type {
                margin-right: .5rem;
            }

            &.dTitle.dItalic {
                font-family: $fontFamily-book-boldItalic;
                font-style: italic;
            }
        }
    }
}

.optionsModal {
    &.darken {
        .modal-content {
            overflow: hidden;

            @include blur();

            &:after {
                opacity: .5;

                @include transition();
            }
        }
    }

    .dataOptions {
        display: grid;

        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 1rem;

        button {
            min-width: 4rem;

            @include flex();
        }
    }

    .modal-content {
        &:after {
            content: "";
            position: absolute;

            width: 100%;
            height: 100%;

            pointer-events: none;

            opacity: 0;
            background: black;
        }
    }
}

.log {
    min-height: 100vh;

    @include flex(center, flex-start, column);

    & > div {
        width: 100%;
    }

    nav {
        z-index: 980;
    }

    & > .jumbotron {
        padding: 3rem 1rem;
        margin: 0;
    }

    & > .contentWrapper {
        display: block;
        width: 100%;
        padding: 3rem 0;

        flex-grow: 1;

        background: $color-background-white;

        @include flex(center, flex-start, column);
    }

    .topNav {
        position: absolute;
        top: 0;
        right: 0;

        padding: .75rem .75rem .75rem 4.75rem;

        @include flex(center,flex-end);

        & > div {
            margin-right: .5rem;

            opacity: .5;
        }

        button {
            padding: 0;

            font-size: 2rem;

            opacity: .5;
            color: $color-active-background;

            @include flex();
            @include transition();

            &.spin,
            &:hover,
            &:focus {
                opacity: 1;

                svg {
                    animation-name: spin;
                    animation-duration: 3000ms;
                    animation-timing-function: linear;
                    animation-iteration-count: infinite;
                }
            }
        }
    }

    .titleBox {
        margin-top: 1rem;

        @include flex(center, flex-start, column);

        * {
            padding: 0;
            margin: 0;

            font-family: $fontFamily-fauxdesto;
            font-weight: normal;

            text-align: center;
        }

        h1 {
            font-size: 2.75rem;
        }

        h2 {
            margin: -.75rem auto 0;

            font-size: 2.25rem;
        }
    }

    .gameList {
        flex-grow: 1;

        @include flex(center, flex-end, column-reverse);
    }

    .newRecordWrapper {
        position: relative;

        margin: 1rem 0;

        .newButton {
            font-size: 1.75rem;
            font-weight: 300;

            border-width: 2px;
            border-color: black;
            outline: none;
            background: whitesmoke;
            box-shadow: none;

            @include transition();

            &.isOpen {
                color: $color-active-text;
                border-color: $color-active-background;
                border-bottom-color: transparent;
                border-bottom-right-radius: 0;
                border-bottom-left-radius: 0;
                background: $color-active-background;
            }

            &:hover,
            &:focus {
                color: white !important;
                border-color: black !important;
                background: black !important;
            }
        }
    }

    .addLogWrapper {
        display: grid;
        padding: 1rem;
        margin: 0 0 1rem;

        grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
        grid-gap: 1rem;
        grid-auto-rows: 1fr;

        list-style: none;

        @include container();

        li {
            flex-basis: 0;
            flex-grow: 1;

            @include flex();
        }

        .customItem {
            position: relative;

            width: 100%;
            height: 100%;

            box-sizing: border-box;

            border-width: 2px !important;
            border-color: $color-edit-border !important;
            background-color: $color-background-white !important;

            @include transition();

            &:hover,
            &:focus {
                cursor: pointer;

                color: $color-active-text;
                border-color: $color-bs-buttonBorder !important;
                background-color: $color-bs-buttonBg !important;
            }

            &.disabled {
                pointer-events: none;

                opacity: .4;

                &:hover,
                &:focus {
                    cursor: pointer;
                }
            }

            .card-body {
                @include flex(flex-start, flex-start, column);

                .cardIcon {
                    position: absolute;
                    top: 0;
                    right: 0;

                    margin: .5rem;

                    font-size: 1.25rem;

                    @include flex(center, flex-start, row-reverse);
                }

                .card-title {
                    margin: 0 .75rem .5rem 0 !important;

                    font-weight: bold;
                }

                .addAsStartLink {
                    margin-left: -.5rem;

                    span {
                        margin-top: .75rem;

                        background: white;

                        &:hover,
                        &:focus {
                            color: $color-active-text;
                            background: $color-active-background;
                        }
                    }
                }
            }
        }
    }

    .footer {
        padding: 1rem 1rem 5rem;
        margin: 0 !important;

        .bottomInfo {
            padding: 0;
            margin: 0;

            list-style: none;

            @include flex(center,center,column);

            span.bullet {
                margin: 0 .5rem;
            }

            li {
                font-family: $fontFamily-book-normal;

                color: $color-active-background;

                @include flex();

                &.bullet {
                    display: none;
                    margin: 0 .5rem;
                }

                a {
                    display: inline-flex;

                    text-decoration: none;

                    @include transition();

                    .fedoram {
                        padding-top: $namePadding;
                    }

                    .fmark {
                        padding-bottom: $namePadding;
                    }
                }

                &.attrLink {
                    cursor: help !important;

                    color: $color-active-background;

                    &:hover,
                    &:focus {
                        color: black;
                    }
                }

                &.kofi {
                    a {
                        color: $color-active-background;

                        &:hover,
                        &:focus {
                            color: black;

                            svg {
                                -webkit-transform-origin: top center;
                                    -ms-transform-origin: top center;
                                        transform-origin: top center;

                                -webkit-animation-name: swing;
                                        animation-name: swing;
                                animation-duration: 1000ms;
                                animation-timing-function: ease;
                                animation-iteration-count: infinite;
                            }
                        }
                    }

                    svg {
                        margin: .25rem 0 0 .35rem;
                    }
                }

                .githubButton {
                    margin: 0;

                    span {
                        @include flex();
                    }
                }
            }
        }
    }

    .activeBarWrapper {
        position: fixed;

        width: 0;
        overflow-y: auto;

        background: rgba(0, 0, 0, 0);

        @include transition();

        &:not(.openBar) {
            overflow: hidden;

            pointer-events: none;

            .toggle {
                border-radius: 0 0 50% 0;
                background: rgba(255, 255, 255, .85);

                @include transition();

                &:hover,
                &:focus {
                    background: rgba(0, 0, 0, .85);



                    span:not(.number) {
                        color: white !important;
                    }
                }
            }
        }

        &.openBar {
            // width: 325px;
            width: 350px;

            pointer-events: auto;

            background: rgba(0, 0, 0, .85);

            .toggle {
                span {
                    color: white !important;
                }
            }
        }

        .toggle {
            pointer-events: auto !important;
        }

        .toggle,
        .text {
            color: white !important;
        }

        .message {
            position: absolute;
            top: 0;
            left: 0;

            height: 100%;
            min-width: 240px;
            padding-left: 60px;

            font-size: 1.1rem;
            font-weight: lighter;

            @include flex(center, flex-start);
        }

        .badge {
            font-size: .8rem;

            text-decoration: none !important;

            color: transparent !important;
        }

        .title {
            font-size: 1.1rem;
            line-height: 3.1;
        }

        .eventItem,
        .eventInfo {
            &.expended {
                * {
                    text-decoration: line-through currentColor solid;

                    color: gray !important;

                    @include transition();
                }

                .title {
                    text-decoration: line-through currentColor solid;
                }

                .list {
                    border-left-color: darken(gray, 25%) !important;
                }
            }
        }

        .eventItem {
            margin-top: 3px;

            & + div > div {
                &:after,
                &:before {
                    display: none !important;
                }
            }
        }

        .eventInfo {
            padding: 0 1.5rem .5rem !important;
            margin: -.5rem 0 !important;

            cursor: auto !important;

            background-color: rgba(0, 0, 0, .25) !important;

            .code {
                font-weight: bold;

                @include flex(center, space-between);

                span {
                    white-space: nowrap;
                }

                .custom-switch {
                    margin-bottom: -.2rem;
                    margin-left: .5rem;

                    .custom-control-label {
                        &:before,
                        &:after {
                            outline: none !important;
                            box-shadow: none !important;
                        }

                        &:before {
                            border-color: darkgray;
                            background-color: white;
                        }

                        &:after {
                            background-color: darkgray;
                        }
                    }

                    .custom-control-input:checked ~ .custom-control-label {
                        &:before {
                            border-color: gray;
                            background-color: darkgray;
                        }

                        &:after {
                            background-color: gray;
                        }
                    }
                }
            }

            .desc {
                line-height: 1rem;
            }

            .list {
                padding-left: .75rem;
                margin: -.5rem 0 1rem;

                box-sizing: border-box;

                border-left: 2px solid rgba(255, 255, 255, .5) !important;
            }
        }

        .toggle {
            span {
                color: black !important;
            }

            span:not(.number) {
                background-color: currentColor !important;
            }

            .number {
                position: absolute;
                top: .75rem;
                right: .5rem;
            }
        }
    }
}

// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width:576px) {
    .log {
        .titleBox {
            h1 {
                font-size: 3rem;
            }

            h2 {
                font-size: 2.5rem;
            }
        }

        .addLogWrapper .customItem .card-body {
            @include flex(center, flex-start);
        }

        .draggableList {
            width: 85%;
        }

        .footer .bottomInfo {
            flex-direction: row;

            li {
                margin-bottom: initial;

                &.bullet {
                    display: initial;
                }
            }
        }
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width:768px) {
    .log {
        .titleBox {
            h1 {
                font-size: 4rem;
            }

            h2 {
                font-size: 3rem;
            }
        }

        .addLogWrapper .customItem .card-body {
            @include flex(flex-start, flex-start, column);
        }
    }
}

// Large devices (desktops, 992px and up)
@media (min-width:992px) {
    .draggableList {
        width: 75%;

        .dItem {
            font-size: 1.25rem;
        }
    }

    .optionsModal {
        .dataOptions {
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr;
        }
    }

    .log .titleBox {
        h1 {
            font-size: 5rem;
        }

        h2 {
            margin: -1rem auto 0;

            font-size: 4rem;
        }
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width:1200px) {
}
