// IMPORTS
@import "./common/common.scss";

// STYLES
.block {
    display: block;
}

.log {
    min-height: 100vh;

    @include flex(center, flex-start, column);

    & > div {
        width: 100%;
    }

    .titleBox {
        margin-top: 1rem;

        @include flex(center, flex-start, column);

        * {
            padding: 0;
            margin: 0;

            font-family: $fontFamily-fauxdesto;
            font-weight: normal;

            text-align: center;
        }

        h1 {
            font-size: 2.75rem;
        }

        h2 {
            margin: -.75rem auto 0;

            font-size: 2.25rem;
        }
    }

    .gameList {
        flex-grow: 1;

        @include flex(center, flex-end, column-reverse);
    }

    .newRecordWrapper {
        margin: 1rem 0;

        .newButton {
            font-family: $fontFamily-oswald;
            font-weight: 300;

            -webkit-transition: all .25s ease;
               -moz-transition: all .25s ease;
                -ms-transition: all .25s ease;
                 -o-transition: all .25s ease;
                    transition: all .25s ease;

            border-color: $color-bsborder;
            background: $color-bsbg;
            box-shadow: none;

            &:hover {
                border-color: black;
                background: $color-bsborder;
            }

            &.isOpen {
                border-bottom-right-radius: 0;
                border-bottom-left-radius: 0;
            }
        }
    }

    .addLogWrapper {
        display: grid;
        padding: 1rem;
        margin: 0 0 1rem;

        list-style: none;

        border-radius: 0 0 5px 5px;
        background: $color-background-darker;
        -webkit-box-shadow: inset 0 0 15px -10px rgba(0, 0, 0, .75);
           -moz-box-shadow: inset 0 0 15px -10px rgba(0, 0, 0, .75);
                box-shadow: inset 0 0 15px -10px rgba(0, 0, 0, .75);

        grid-auto-rows: 1fr;
        grid-gap: 1rem;
        grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));

        li {
            flex-basis: 0;
            flex-grow: 1;

            @include flex();
        }

        .customItem {
            position: relative;

            width: 100%;
            height: 100%;

            box-sizing: border-box;

            -webkit-transition: all .25s ease;
               -moz-transition: all .25s ease;
                -ms-transition: all .25s ease;
                 -o-transition: all .25s ease;
                    transition: all .25s ease;

            border-width: 2px !important;
            background: $color-background-white !important;

            &:hover,
            &:focus {
                cursor: pointer;

                border-color: black;
            }

            &.disabled {
                pointer-events: none;

                opacity: .4;
            }

            .card-body {
                @include flex(flex-start, flex-start, column);

                .card-title {
                    margin: 0 .75rem .5rem 0 !important;

                    font-weight: bold;
                }
            }
        }
    }

    .footer {
        margin: 3rem 0 0 !important;
    }
}

// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width:576px) {
    .log {
        .titleBox {
            h1 {
                font-size: 3rem;
            }

            h2 {
                font-size: 2.5rem;
            }
        }

        .addLogWrapper .customItem .card-body {
            @include flex(center, flex-start);
        }
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width:768px) {
    .log {
        .titleBox {
            h1 {
                font-size: 4rem;
            }

            h2 {
                font-size: 3rem;
            }
        }

        .addLogWrapper .customItem .card-body {
            @include flex(flex-start, flex-start, column);
        }
    }
}

// Large devices (desktops, 992px and up)
@media (min-width:992px) {
    .log .titleBox {
        h1 {
            font-size: 5rem;
        }

        h2 {
            margin: -1rem auto 0;

            font-size: 4rem;
        }
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width:1200px) {
}
