// IMPORTS
@import "./common/common.scss";

// STYLES
.gameBox {
    padding: 0 !important;
    margin: 1rem auto;

    text-align: center;

    border: 2px solid black;
    background: $color-background-white;

    .titleWrapper {
        &:hover,
        &:focus {
            cursor: pointer;
        }

        // .type {
        //     display: none;
        //     padding-right: 1rem;

        //     text-align: left;
        //     white-space: nowrap;
        // }

        .title {
            width: 100%;
            padding: 1rem;
            margin: 0;

            font-size: 1.75rem;
            font-weight: normal;

            background: $color-bsbg;

            @include flex(flex-start, center);

            .name {
                flex-wrap: wrap;
                @include flex(center, center, row);

                .code {
                    padding: 0 .5rem;

                    text-transform: uppercase;

                    @include flex(center, flex-end);

                    .hyphen {
                        position: relative;
                        bottom: .45rem;

                        margin: 0 .05rem;
                    }
                }
            }
        }
    }

    .content {
        padding: 0;
        margin: 0;

        .sectionTitle {
            margin: 0;

            font-family: $fontFamily-fauxdesto;
            font-size: 1.75rem;
        }

        .wrapper {
            margin: 0 0 .5rem;

            .box {
                padding: 1rem;

                border: 1px solid darkgray;
                background: $color-background-darker;

                p {
                    margin: 0;

                    text-align: left;
                }
            }
        }

        .infoWrapper {
            padding: 0;
            margin: .25rem auto .5rem;

            list-style: none;

            flex-wrap: wrap;
            @include flex(center, center);

            li {
                margin: 0 1rem;

                @include flex(center, center);

                * {
                    margin: 0;
                }

                h1 {
                    margin-right: .35rem;

                    font-family: $fontFamily-fauxdesto;
                    font-size: 1.5rem;

                    white-space: nowrap;
                }

                p {
                    margin-top: .3rem;

                    font-family: $fontFamily-handwritten;
                    font-size: 1.25rem;
                }

                &.tier > p {
                    width: 1.5rem;
                    height: 1.5rem;
                    padding: .3rem 0 0;
                    margin: 0;

                    box-sizing: border-box;

                    border: 1px solid gray;
                    border-radius: 50%;
                    background: $color-background-darker;

                    @include flex();
                }
            }
        }

        .twoCol {
            display: block;
            margin-bottom: .5rem;

            .leftCol {
                @include flex(stretch, stretch, column);
            }

            .arCol {
                flex-basis: 0;
                flex-grow: 1;
            }

            .advWrapper {
                .footnote {
                    text-align: center !important;

                    color: gray;
                }
            }

            .rewardsWrapper {
                flex-grow: 1;

                @include flex(stretch, stretch, column);

                .content {
                    flex-grow: 1;

                    .rewardGroup {
                        @include flex(flex-start, flex-start, column);

                        &:not(:last-of-type) {
                            margin-bottom: 1rem;
                        }

                        h1 {
                            width: 100%;

                            font-size: 16px;

                            @include flex(center, flex-start);

                            .instructions {
                                flex-grow: 1;

                                text-align: left;
                            }

                            .buttonArea {
                                width: 20px;
                                height: 20px;
                            }
                        }
                    }
                }
            }

            .wealthWrapper {
                hr {
                    border-color: $color-bshr;
                }

                .wealthContent {
                    display: grid;
                    padding: calc(.25rem + 1px) .5rem .1rem;

                    grid-template-columns: 1fr 2fr;
                    grid-template-rows: repeat(4, 1fr);
                    // gap: 0;
                    // grid-template-areas: ". ." ". ." ". ." ". .";
                }

                .cell {
                    padding: .25rem .5rem .1rem;

                    text-align: left;

                    &:not(.bottom) {
                        border-bottom: 1px solid $color-bshr;
                    }
                }

                .header {
                    font-family: $fontFamily-fauxdesto;
                    font-size: 1.1rem;

                    white-space: nowrap;
                    text-transform: uppercase;

                    span {
                        position: relative;
                        bottom: .45rem;
                    }
                }

                .amount {
                    padding-left: 1rem;

                    font-family: $fontFamily-handwritten;
                    font-size: .9rem;

                    text-transform: lowercase;

                    border-left: 1px solid $color-bshr;

                    .val {
                        position: relative;
                        top: .1rem;

                        display: inline-block;
                    }
                }
            }

            .legacyWrapper {
                height: 100%;

                @include flex(stretch, stretch, column);

                .box {
                    margin-bottom: .5rem;

                    flex-grow: 1;

                    @include flex(flex-start, center, column);

                    .content {
                        flex-grow: 1;
                    }

                    .footnote {
                        padding-top: .75rem;

                        color: gray;
                        border-top: 1px solid $color-bshr;
                    }
                }
            }
        }
    }

    &.salvageBox .notesWrapper .box {
        margin-bottom: 1rem;
    }
}

// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap
.gameBox .content {
    .bookFont {
        font-size: .8rem;
    }

    .instructions {
        font-size: .9rem;
    }

    .footnote {
        font-size: .75rem;
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width:576px) {
    .gameBox {
        .titleWrapper .title {
            font-size: 2rem;
        }

        .content {
            .bookFont {
                font-size: .9rem;
            }

            .instructions {
                font-size: .9rem;
            }

            .footnote {
                font-size: .95rem;
            }
        }
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width:768px) {
    .gameBox {
        .titleWrapper .title {
            font-size: 2.25rem;

            .name {
                .code {
                    width: auto;
                    padding-right: .5rem;

                    .hyphen {
                        bottom: .6rem;
                    }
                }
            }

            .title {
                align-items: center;
                justify-content: space-between;
            }

            // .type {
            //     display: flex;

            //     flex-grow: 1;
            // }
        }

        .content {
            .bookFont {
                font-size: .8rem;

                &.gameNotes {
                    font-size: .9rem;
                }
            }

            .instructions {
                font-size: .9rem;
            }

            .footnote {
                font-size: .75rem;
            }

            .sectionTitle {
                font-size: 2rem;
            }

            .twoCol {
                @include flex(stretch, center, row);

                .leftCol {
                    margin-right: -15px;
                }

                .wealthWrapper {
                    .header {
                        font-size: 1.2rem;
                    }

                    .amount {
                        font-size: 1rem;

                        .val {
                            top: .175rem;
                        }
                    }
                }
            }
        }
    }
}

// Large devices (desktops, 992px and up)
@media (min-width:992px) {
    .gameBox {
        .titleWrapper .title {
            font-size: 2.75rem;

            .name {
                .code {
                    width: auto;
                    padding-right: .75rem;

                    .hyphen {
                        bottom: .75rem;
                    }
                }
            }
        }

        .content {
            .sectionTitle {
                font-size: 2.5rem;
            }

            .bookFont {
                font-size: 1rem;

                &.gameNotes {
                    font-size: 1rem;
                }
            }

            .instructions {
                font-size: 1rem;
            }

            .footnote {
                font-size: .95rem;
            }

            .twoCol {
                .wealthWrapper {
                    .header {
                        font-size: 1.5rem;
                    }

                    .amount {
                        font-size: 1.3rem;

                        .val {
                            top: .25rem;
                        }
                    }
                }
            }
        }
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width:1200px) {
}
