// IMPORTS
@import "./utils/common.scss";
// VARS
$gap: .5rem;
$halfGap: .25rem;

// STYLES
.deleteModal {
    .flexBetwixt button {
        width: 130px;
    }

    .modalBody {
        font-size: 2.5rem;

        text-align: center;
    }

    .hyphen {
        position: relative;
        bottom: .6rem;
    }
}

.gameBox {
    padding: 0 !important;
    margin: 1rem auto;

    text-align: center;

    border: 2px solid black;
    border-radius: .3rem;
    background: $color-background-darker;

    &.preview {
        margin: 0;

        pointer-events: none;

        input {
            visibility: hidden;
        }

        *:not(button) {
            opacity: 1 !important;

            &:not(.footnote) {
                .label {
                    color: black !important;
                }
            }

            &.money {
                display: none;
            }
        }
    }

    &.notesWealthBox {
        .titleWrapper .title {
            padding: .5rem 1rem;
        }
    }

    &:not(.editing) {
        .sticky:before {
            content: "";
            position: absolute;
            top: -5px;
            left: -5px;

            width: 1rem;
            height: 1rem;

            transform: rotate(-45deg);

            border: 1px solid white;
            border-width: 3px 0 0 0;
            border-radius: 10px;
            background: transparent;
        }
    }

    .stickyCover {
        position: sticky;
        top: 0;
        left: 0;
        z-index: 10;

        width: 102%;
        height: 1.1rem;
        margin-top: -1.1rem;
        margin-left: -1%;

        box-sizing: content-box;

        color: white;
        background: currentColor;

        &.deleting {
            display: none;
        }
    }

    .playerNotes {
        overflow-x: scroll;
    }

    .titleWrapper {
        border: 1px solid $color-inactive-background;
        border-radius: .1rem;

        @include transition(border-color);

        &.sticky {
            position: sticky;
            // top: 0;
            top: 1.1rem;
            z-index: 100;

            width: calc(100% + 4px);
            margin: -2px 0 0 -2px;

            border-width: 2px;
            border-top-color: black;
            border-right-color: black;
            border-bottom-width: 1px;
            border-left-color: black;

            &,
            h1 {
                border-top-left-radius: .3rem;
                border-top-right-radius: .3rem;
            }

            &.deleting {
                top: -2px !important;
            }
        }

        &:hover,
        &:focus {
            cursor: pointer;
        }

        .title {
            width: 100%;
            padding: 1rem;
            margin: 0;

            font-size: 1.6rem;
            font-weight: normal;

            -webkit-transition: border-color, background .25s ease;
               -moz-transition: border-color, background .25s ease;
                -ms-transition: border-color, background .25s ease;
                 -o-transition: border-color, background .25s ease;
                    transition: border-color, background .25s ease;

            background: $color-inactive-background;

            @include flex(flex-start, center);

            .name {
                margin-right: .1rem;

                flex-wrap: nowrap;

                @include flex(center, center, row);

                .titleText {
                    flex-wrap: wrap;

                    @include flex(center, center, row);

                    .title {
                        padding: 0;

                        white-space: normal;
                    }

                    .code {
                        display: inline-flex;
                        padding: 0;

                        justify-content: flex-end;
                        align-items: center;

                        text-transform: uppercase;

                        .hyphen {
                            position: relative;
                            bottom: .45rem;

                            margin: 0 .05rem;
                        }
                    }
                }

                .titleIcon {
                    min-width: 1.5rem;
                    margin-top: -.1rem;

                    &.cogIcon {
                        margin-right: .25rem;

                        font-size: 1.25rem;
                    }

                    &.diceIcon {
                        margin-left: .4rem;

                        font-size: 1rem;
                    }
                }
            }
        }
    }

    .content {
        padding: 0;
        margin: 0;

        .sectionTitle {
            margin: 0;

            font-family: $fontFamily-fauxdesto;
            font-size: 1.75rem;
        }

        .wrapper {
            margin: 0 0 .5rem;

            .box {
                padding: 1rem;

                border: 1px solid darkgray;
                background: $color-background-white;

                p {
                    margin: 0;

                    text-align: left;
                }
            }
        }

        .logDataWrapper {
            padding: .5rem 0;
        }

        .infoWrapper {
            padding: 0;
            margin: .5rem auto;

            flex-wrap: wrap;

            list-style: none;

            @include flex(center, center, row);

            li {
                margin: 0 .75rem;

                @include flex(center, center);

                &:first-of-type {
                    margin-left: 0;
                }

                &:last-of-type {
                    margin-right: 0;
                }

                * {
                    margin: 0;
                }

                h1 {
                    margin-right: .5rem;

                    font-family: $fontFamily-fauxdesto;
                    font-size: 1.25rem;

                    white-space: nowrap;
                }

                p {
                    margin-top: .3rem;

                    font-family: $fontFamily-handwritten;
                    font-size: 1.1rem;
                }

                &.tier > p {
                    width: 1.5rem;
                    height: 1.5rem;
                    padding: 0;
                    margin: 0;

                    box-sizing: border-box;

                    font-family: $fontFamily-fauxdesto;

                    border: 1px solid gray;
                    border-radius: 50%;
                    background: $color-background-white;

                    @include flex();

                    &:not(:last-of-type) {
                        margin-right: .25rem;
                    }
                }

                &.dm {
                    flex-wrap: wrap;

                    & > p {
                        white-space: nowrap;

                        & > span {
                            display: block;
                            margin-top: -.25rem;
                        }
                    }
                }
            }
        }

        .salvageInfoWrapper {
            .twoCol {
                @include flex(stretch, stretch, column);

                .cell {
                    min-height: 0;
                }
            }

            .advWrapper {
                height: 100%;
                padding-bottom: 0rem;

                .selectWrapper,
                .salvageRow {
                    margin-bottom: .5rem;
                }

                .salvageAdv {
                    margin-bottom: 0;

                    @include flex(center, center, column);
                }

                .salvageRow {
                    @include flex(center,center,column-reverse);

                    & > div {
                        display: inline-flex;

                        flex-wrap: nowrap;

                        &:last-of-type {
                            margin-bottom: .5rem;
                        }

                        .input-group-prepend {
                            flex-grow: 1;

                            & > span {
                                width: 100%;
                            }
                        }

                        .input-group-append {
                            width: 5rem;

                            input {
                                font-size: .8rem;

                                border-top-left-radius: 0;
                                border-bottom-left-radius: 0;
                            }

                            span {
                                width: 100%;

                                justify-content: center;
                            }
                        }
                    }
                }
            }
        }

        .twoCol {
            display: block;

            .leftCol {
                @include flex(stretch, stretch, column);
            }

            .rightCol {
                margin-bottom: 0;
            }

            .arCol {
                flex-grow: 1;
            }

            .advWrapper {
                .footnote {
                    text-align: center !important;

                    color: gray;
                }
            }

            &.notesLog {
                margin-top: .5rem;

                @include flex(stretch, stretch, column-reverse);

                &.startLog {
                    flex-direction: column;
                }

                .arCol {
                    flex-basis: auto;
                }

                .notesWrapper {
                    height: 100%;

                    .box {
                        height: 100%;
                    }
                }
            }

            .rewardsWrapper {
                flex-grow: 1;

                @include flex(stretch, stretch, column);

                .rewardsContent {
                    flex-grow: 1;

                    .rewardGroup {
                        @include flex(flex-start, flex-start, column);

                        &:not(:last-of-type) {
                            margin-bottom: 1rem;
                        }

                        h1 {
                            width: 100%;

                            font-size: 16px;

                            @include flex(center, flex-start);

                            .instructions {
                                flex-grow: 1;

                                text-align: left;

                                &.disabled {
                                    opacity: .5;
                                    color: #999;
                                }
                            }

                            .buttonArea {
                                width: 20px;
                                height: 20px;
                            }
                        }
                    }
                }
            }

            .wealthWrapper {
                hr {
                    border-color: $color-bshr;
                }

                .wealthContent {
                    display: grid;
                    padding: calc(.25rem + 1px) .5rem .1rem;

                    grid-template-columns: 1fr 2fr;
                    grid-template-rows: repeat(4, auto);

                    &.startingOnly {
                        padding: calc(.25rem + 1px) .5rem;

                        grid-template-rows: 1fr;
                    }
                }

                .cell {
                    padding: .25rem .5rem .1rem;

                    text-align: left;

                    @include flex(center, flex-start);

                    &:not(.bottom) {
                        border-bottom: 1px solid $color-bshr;
                    }
                }

                .header {
                    font-family: $fontFamily-fauxdesto;
                    font-size: 1.1rem;

                    white-space: nowrap;
                    text-transform: uppercase;

                    span {
                        position: relative;
                        bottom: .3rem;
                    }
                }

                .amount {
                    padding-left: 1rem;

                    font-family: $fontFamily-handwritten;
                    font-size: .9rem;

                    text-transform: lowercase;

                    border-left: 1px solid $color-bshr;

                    .val {
                        position: relative;
                        top: .1rem;

                        display: inline-block;
                    }
                }
            }

            .legacyWrapper {
                height: 100%;

                @include flex(stretch, stretch, column);

                .box {
                    margin-bottom: .5rem;

                    flex-grow: 1;

                    @include flex(flex-start, center, column);

                    .legacyContent {
                        flex-grow: 1;
                    }

                    .footnote {
                        padding-top: .75rem;

                        color: gray;
                        border-top: 1px solid $color-bshr;
                    }
                }
            }
        }

        .editContent {
            .editWrapper {
                width: 100%;
                padding: 1rem;
                margin: 0;

                list-style: none;

                border-radius: 0 !important;

                @include container();

                .rightGroup {
                    width: auto;
                }

                .input-group * {
                    border-color: $color-edit-border;
                }

                .editRow {
                    margin-bottom: $gap;

                    &.flexRow {
                        @include flex(stretch, flex-start, column);
                    }

                    &.dmRow {
                        @include transition(all, .125s);
                    }

                    &.disable {
                        opacity: .5;
                    }

                    .input-group:not(:last-of-type) {
                        margin-bottom: $gap;
                    }

                    .input-group-prepend {
                        .input-group-text {
                            width: 5rem;

                            justify-content: center;
                        }
                    }
                }

                .wealthRow {
                    .flexRow {
                        flex-wrap: nowrap;

                        @include flex(stretch, space-between);

                        &:not(:last-of-type) {
                            margin-bottom: 1rem;
                        }

                        .wealthEditArea {
                            width: 100%;
                        }

                        .input-group-prepend {
                            z-index: 5;

                            margin-right: .25rem;
                        }
                    }

                    .calcButtonGroup {
                        margin-left: $halfGap;

                        flex-basis: 0;

                        cursor: pointer;

                        .toBeButton {
                            width: 50px;
                            padding: 0;

                            border: 0;
                            outline: 0;

                            &:hover,
                            &:focus {
                                .input-group-text {
                                    color: white;
                                    background-color: $color-active-background;
                                }
                            }

                            .input-group-text {
                                width: 100%;
                                height: 100%;

                                -webkit-transition: color, background .25s ease;
                                   -moz-transition: color, background .25s ease;
                                    -ms-transition: color, background .25s ease;
                                     -o-transition: color, background .25s ease;
                                        transition: color, background .25s ease;

                                @include flex();

                                .calcMoneyIcon {
                                    margin-top: -.3rem;

                                    font-size: 1.21rem;
                                }
                            }
                        }

                        &.disabled {
                            pointer-events: none;

                            .input-group-append {
                                .calcMoneyIcon {
                                    opacity: .5;
                                }

                                &:hover,
                                &:focus {
                                    .input-group-text {
                                        color: initial;
                                        background-color: initial;
                                    }
                                }
                            }
                        }
                    }
                }

                .eventsRow {
                    @include flex(stretch, flex-start);

                    .flexRow {
                        width: 100%;

                        flex-wrap: wrap;
                        flex-grow: 1;

                        @include flex(stretch, flex-start, column);

                        .input-group {
                            width: auto;
                            margin-bottom: .25rem;
                            margin-left: .5rem;

                            flex-wrap: nowrap;
                            flex-grow: 1;

                            &:last-of-type {
                                margin-bottom: 0;
                            }

                            .eventTitle {
                                flex-grow: 1;

                                span {
                                    white-space: normal;

                                    color: $color-active-background;
                                    background: $color-inactive-background;
                                }
                            }

                            .input-group-text {
                                width: 100%;

                                flex-grow: 1;

                                font-size: .75rem;
                            }

                            button {
                                width: 100px;

                                font-size: .75rem;
                            }

                            .dropdown-menu {
                                width: auto;
                                min-width: 100%;

                                font-size: .75rem;

                                text-align: center;

                                a {
                                    padding-right: 1rem;
                                    padding-left: 1rem;
                                }
                            }
                        }

                        .Unselected button {
                            &:hover,
                            &:focus,
                            &:active {
                                color: $color-active-background;
                                background: lightgray;
                            }
                        }

                        .Expended {
                            text-decoration: line-through rgba(255, 255, 255, .6);
                        }
                    }
                }

                .actionsRow {
                    margin-bottom: 0;

                    flex-wrap: nowrap;

                    @include flex(stretch);

                    .actionLabel {
                        margin: 0 .5rem 0 0 !important;

                        flex-basis: 0;
                    }

                    .flexRow {
                        flex-grow: 1;

                        @include flex(stretch, space-between, column);

                        a.btn {
                            flex-grow: 1;

                            font-family: $fontFamily-oswald;

                            &:not(:last-of-type) {
                                margin-bottom: .5rem;
                            }

                            &:active {
                                transition: none;
                            }

                            .buttonIcon {
                                margin-left: .25rem;

                                svg {
                                    margin-top: -.2rem;
                                }
                            }
                        }
                    }
                }

                .optionsRow {
                    flex-wrap: nowrap;

                    @include flex(stretch);

                    .optionsLabel {
                        margin: 0 .5rem 0 0 !important;

                        flex-basis: 0;
                    }

                    .flexRow {
                        flex-grow: 1;

                        .dotE {
                            display: inline-flex;
                            width: 1.25rem;
                            height: 1.25rem;

                            justify-content: center;
                            align-items: center;

                            border: 1px solid gray;
                            border-radius: 50%;
                            background: white;
                        }

                        .dropdownGroup {
                            flex-grow: 1;

                            &:not(:last-of-type) {
                                margin-bottom: .25rem;
                            }

                            .dropdown {
                                width: 100%;

                                font-family: $fontFamily-oswald;

                                button {
                                    width: 100%;

                                    svg {
                                        margin-top: -.25rem;
                                    }
                                }

                                .dropdown-menu {
                                    min-width: 100%;

                                    text-align: center;
                                }
                            }
                        }
                    }
                }

                .eventLabel {
                    width: auto;
                    margin-bottom: 0 !important;
                }
            }

            textarea {
                min-height: 10rem;

                box-sizing: border-box;
            }
        }
    }

    &.expanded {
        .titleWrapper {
            border-bottom-color: darkgray;
            border-bottom-right-radius: 0rem;
            border-bottom-left-radius: 0rem;
        }
    }

    &.salvageBox .notesWrapper .box {
        margin-bottom: .5rem;
    }

    &.editing {
        border-color: $color-active-background;

        .editCollapse > div:not(.editContent) {
            pointer-events: none !important;

            opacity: .65;

            @include transition(opacity);
        }

        .titleWrapper {
            color: $color-active-text;
            border-color: $color-active-background;
            background: $color-active-background;

            &:hover,
            &:focus {
                cursor: auto;
            }

            .title {
                background: $color-active-background;
            }
        }
    }
}

// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap
.gameBox .content > *:not(.editContent) {
    .bookFont {
        font-size: .8rem;
    }

    .instructions {
        font-size: .9rem;
    }

    .footnote {
        font-size: .75rem;
    }
}

.gameBox.preview .content .twoCol .wealthWrapper .header span {
    bottom: .35rem;
}

// Small devices (landscape phones, 576px and up)
@media (min-width:576px) {
    .gameBox {
        .titleWrapper .title {
            font-size: 2rem;

            .name {
                .code {
                    padding-right: .5rem !important;
                }

                .titleIcon {
                    font-size: 1.5rem;

                    &.diceIcon {
                        font-size: 1.25rem;
                    }
                }

                .titleText {
                    flex-wrap: nowrap;
                }
            }
        }

        .content {
            & > *:not(.editContent) {
                .bookFont {
                    font-size: .9rem;
                }

                .instructions {
                    font-size: .9rem;
                }

                .footnote {
                    font-size: .95rem;
                }

                .twoCol .wealthWrapper .header {
                    span {
                        bottom: .3rem;
                    }
                }
            }

            .editContent .editWrapper .eventsRow {
                .flexRow {
                    width: auto;

                    .input-group {
                        margin-bottom: .25rem;

                        .input-group-text {
                            font-size: 1rem;
                        }

                        button {
                            width: 130px;

                            font-size: 1rem;
                        }

                        .dropdown-menu {
                            font-size: 1rem;
                        }
                    }
                }
            }

            .salvageInfoWrapper .advWrapper .salvageRow > div .input-group-append input {
                font-size: .9rem;
            }
        }
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width:768px) {
    .gameBox:not(.preview) {
        .titleWrapper .title {
            font-size: 2.25rem;

            .name {
                .titleIcon {
                    font-size: 1.75rem;

                    &.diceIcon {
                        margin-left: .6rem;

                        font-size: 1.5rem;
                    }
                }

                .code {
                    width: auto;


                    .hyphen {
                        bottom: .6rem;
                    }
                }
            }

            .title {
                justify-content: space-between;
                align-items: center;
            }
        }

        .content > *:not(.editContent) {
            .bookFont {
                font-size: .8rem;

                &.gameNotes {
                    font-size: .9rem;
                }
            }

            .instructions {
                font-size: .9rem;
            }

            .footnote {
                font-size: .75rem;
            }

            .sectionTitle {
                font-size: 2rem;
            }

            .twoCol {
                &:not(.notesLog) {
                    @include flex(stretch, center, row);

                    .leftCol {
                        margin-right: -15px;
                    }
                }

                .wealthWrapper {
                    .header {
                        font-size: 1.2rem;
                    }

                    .amount {
                        font-size: 1rem;

                        .val {
                            top: .175rem;
                        }
                    }
                }
            }
        }

        .salvageInfoWrapper {
            .twoCol {
                flex-direction: column !important;

                .leftCol {
                    margin: 0 !important;
                }

                .rightCol {
                    .salvageContent {
                        margin-bottom: -.25rem;

                        @include flex(stretch, space-between, row);

                        .salvageAdv,
                        .salvageRow {
                            max-width: 50%;

                            flex-grow: 1;

                            input {
                                font-size: .8rem;
                            }

                            & > span,
                            & > div {
                                height: 2.075rem;
                            }
                        }

                        .salvageAdv {
                            margin-right: .25rem;

                            .checkArea .label {
                                font-size: .77rem !important;
                            }
                        }

                        .salvageRow {
                            margin-left: .25rem;
                        }
                    }
                }
            }

            .footnote {
                font-size: .9rem !important;
            }
        }

        .editContent {
            .editWrapper {
                textarea {
                    min-height: 7rem;
                }

                .editRow {
                    .input-group-prepend .input-group-text {
                        width: 7rem;

                        -webkit-transition: color, border-color .25s ease;
                           -moz-transition: color, border-color .25s ease;
                            -ms-transition: color, border-color .25s ease;
                             -o-transition: color, border-color .25s ease;
                                transition: color, border-color .25s ease;
                    }

                    &.flexRow {
                        flex-direction: row;

                        .input-group {
                            margin: 0 $halfGap;

                            &:first-of-type {
                                margin-left: 0;
                            }

                            &:last-of-type {
                                margin-right: 0;
                            }
                        }
                    }
                }

                .wealthRow {
                    .flexRow .calcButtonGroup {
                        margin-left: $gap;
                    }

                    .editRow {
                        position: relative;

                        &:before {
                            content: "";
                            position: absolute;
                            bottom: 50%;
                            bottom: calc(50% - 1px);
                            left: 1%;

                            width: 98%;
                            height: 2px;

                            border-bottom: 2px solid $color-edit-border;
                        }

                        &:not(:last-of-type) {
                            margin-bottom: .5rem;
                        }

                        .input-group-append {
                            width: 35px !important;
                        }

                        .input-group-text {
                            width: 35px !important;
                            padding: .25rem;
                        }
                    }

                    .error {
                        .leftGroup *,
                        .wealthEditArea * {
                            color: $color-bs-danger !important;
                            border-color: $color-bs-danger !important;
                        }
                    }
                }

                .actionsRow,
                .optionsRow {
                    .flexRow {
                        flex-grow: 1;

                        @include flex(stretch, space-between);

                        a.btn,
                        .dropdownGroup {
                            &:not(:last-of-type) {
                                margin-right: .5rem;
                                margin-bottom: 0;
                            }
                        }
                    }
                }

                .eventsRow {
                    .eventLabel {
                        margin-right: .5rem;
                    }

                    .flexRow {
                        display: grid !important;

                        grid-template-columns: repeat(2, 1fr);
                        grid-gap: .5rem;
                        grid-auto-rows: 1fr;

                        @include flex(stretch, flex-start, row);

                        .input-group {
                            width: 100%;
                            margin: 0 !important;
                        }
                    }
                }
            }
        }
    }

    .gameBox.preview {
        .titleWrapper .title {
            font-size: 2.25rem;

            .name {
                .code {
                    width: auto;
                    padding-right: .5rem;

                    .hyphen {
                        bottom: .6rem;
                    }
                }
            }

            .title {
                justify-content: space-between;
                align-items: center;
            }
        }

        .content {
            .bookFont {
                font-size: .8rem;

                &.gameNotes {
                    font-size: .9rem;
                }
            }

            .instructions {
                font-size: .9rem;
            }

            .footnote {
                font-size: .75rem;
            }

            .sectionTitle {
                font-size: 2rem;
            }

            .twoCol {
                @include flex(stretch, center, row);

                .leftCol {
                    margin-right: -15px;
                }

                .wealthWrapper {
                    .header {
                        font-size: 1.2rem;
                    }

                    .amount {
                        font-size: 1rem;

                        .val {
                            top: .175rem;
                        }
                    }
                }
            }
        }
    }
}

// Large devices (desktops, 992px and up)
@media (min-width:992px) {
    .gameBox:not(.preview) {
        .titleWrapper .title {
            font-size: 2.75rem;

            .name {
                .titleIcon {
                    font-size: 2rem;

                    &.diceIcon {
                        margin-left: .75rem;

                        font-size: 1.75rem;
                    }
                }

                .code {
                    width: auto;
                    padding-right: .75rem;

                    .hyphen {
                        bottom: .75rem;
                    }
                }
            }
        }

        .content {
            & > *:not(.editContent) {
                .infoWrapper {
                    li {
                        h1 {
                            font-size: 1.5rem;
                        }

                        p {
                            font-size: 1.25rem;
                        }
                    }
                }

                .sectionTitle {
                    font-size: 2.5rem;
                }

                .bookFont {
                    font-size: 1rem;

                    &.gameNotes {
                        font-size: 1rem;
                    }
                }

                .instructions {
                    font-size: 1rem;
                }

                .footnote {
                    font-size: .95rem;
                }

                .twoCol {
                    &:not(.notesLog) {
                        @include flex(stretch, stretch, row);

                        .leftCol {
                            margin-right: -15px;
                        }
                    }

                    .wealthWrapper {
                        .header {
                            font-size: 1.5rem;

                            span {
                                bottom: .45rem;
                            }
                        }

                        .amount {
                            font-size: 1.3rem;

                            .val {
                                top: .25rem;
                            }
                        }
                    }
                }
            }

            .salvageInfoWrapper {
                .advWrapper .salvageRow > div .input-group-append input {
                    font-size: 1rem;
                }

                .twoCol {
                    margin-bottom: 0rem;

                    flex-direction: row !important;


                    .leftCol {
                        max-width: 50%;
                        margin-right: -.75rem !important;


                        .salvageContent {
                            flex-direction: column;

                            .salvageAdv,
                            .salvageRow {
                                max-width: initial;
                                margin: 0;

                                .selectWrapper {
                                    margin: 0 0 .5rem;
                                }
                            }

                            .salvageAdv .checkArea .label {
                                font-size: 1rem !important;
                            }
                        }
                    }

                    .cell {
                        min-height: 4.36rem;
                    }
                }

                .footnote {
                    font-size: .78rem !important;
                }
            }
        }

        .editContent .editWrapper {
            .eventsRow {
                .flexRow {
                    grid-template-columns: repeat(3, 1fr);
                }
            }

            .wealthRow {
                .editRow {
                    &:not(:last-of-type) {
                        margin-bottom: .5rem;
                    }

                    .input-group-text {
                        width: 7rem !important;
                        padding: .375rem .75rem;
                    }

                    .input-group-prepend {
                        width: 130px !important;
                    }

                    .input-group-append {
                        width: 50px !important;
                    }
                }
            }
        }
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width:1200px) {
    .gameBox.preview {
        .titleWrapper .title {
            font-size: 2.75rem;

            .name {
                .code {
                    width: auto;
                    padding-right: .75rem;

                    .hyphen {
                        bottom: .75rem;
                    }
                }
            }
        }

        .content {
            .sectionTitle {
                font-size: 2.5rem;
            }

            .bookFont {
                font-size: 1rem;

                &.gameNotes {
                    font-size: 1rem;
                }
            }

            .instructions {
                font-size: 1rem;
            }

            .footnote {
                font-size: .95rem;
            }

            .twoCol {
                .wealthWrapper {
                    .header {
                        font-size: 1.5rem;

                        span {
                            bottom: .45rem;
                        }
                    }

                    .amount {
                        font-size: 1.3rem;

                        .val {
                            top: .25rem;
                        }
                    }
                }
            }
        }
    }
}
