@import url("https://fonts.googleapis.com/css2?family=Chilanka&family=Oswald:wght@500&display=swap");

// MIXINS
@mixin flex($align: center, $justify: center, $direction: row) {
    display: flex;

    align-items: $align;
    justify-content: $justify;
    flex-direction: $direction;
}

// FONTS
@font-face {
    font-family: Fauxdesto;

    src: url("../fonts/Nodesto-Caps-Condensed.otf") format("opentype");
}
@font-face {
    font-family: FauxdestoItalic;

    src: url("../fonts/Nodesto-Caps-Condensed-Italic.otf") format("opentype");
}

@font-face {
    font-family: Bookinsanity;

    src: url("../fonts/Bookinsanity.otf") format("opentype");
}
@font-face {
    font-family: BookinsanityBold;

    src: url("../fonts/Bookinsanity-Bold.otf") format("opentype");
}
@font-face {
    font-family: BookinsanityItalic;

    src: url("../fonts/Bookinsanity-Italic.otf") format("opentype");
}
@font-face {
    font-family: BookinsanityBoldItalic;

    src: url("../fonts/Bookinsanity-BoldItalic.otf") format("opentype");
}

// VARS
$color-background: white;
$color-bshr: rgba(0,0,0,.1);
$color-bsborder: #ced4da;
$color-bsbg: #e9ecef;

// font-families
$fontFamily-fauxdesto: Fauxdesto, Impact, Charcoal, sans-serif;
$fontFamily-fauxdesto-italic: FauxdestoItalic, Impact, Charcoal, sans-serif;
$fontFamily-oswald: Oswald, Helvetica, Arial, sans-serif;
$fontFamily-handwritten: Chilanka, cursive;
$fontFamily-book-normal: Bookinsanity, serif;
$fontFamily-book-bold: BookinsanityBold, serif;
$fontFamily-book-italic: BookinsanityItalic, serif;
$fontFamily-book-boldItalic: BookinsanityBoldItalic, serif;



// STYLES
body {
    min-width: 375px;
}

.bookFont {
    font-family: $fontFamily-book-normal;
    line-height: 1.25;

    b,
    &.bold {
        font-family: $fontFamily-book-bold;
        font-weight: bold;
    }

    i,
    &.italic {
        font-family: $fontFamily-book-italic;
        font-style: italic;
    }

    u,
    &.bold.italic {
        font-family: $fontFamily-book-boldItalic;
        font-style: italic;
        font-weight: bold;

        text-decoration: none;
    }
}

.fauxdesto {
    font-family: $fontFamily-fauxdesto;

    &.italic {
        font-family: $fontFamily-fauxdesto-italic;
        font-style: italic;
    }
}

.handwritten {
    font-family: $fontFamily-handwritten;
}

// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}
