@import "utils/common.scss";

// VARS
$hw: 1.25rem; // height and width
$offset: 1rem;

// STYLES
.editButtonWrapper {
    position: absolute;
    top: -$offset;

    display: flex;
    width: $hw;
    height: $hw;
    padding: .5rem;

    justify-content: center;
    box-sizing: content-box;
    align-items: center;

    font-size: medium;

    cursor: pointer;

    color: $color-inactive-text;
    border: 5px solid white;
    border-radius: 100%;
    outline: none !important;
    background: $color-inactive-background;

    @include transition();

    .icon {
        position: absolute;
    }

    &:hover,
    &:focus {
        color: $color-hover-text;
        background: $color-hover-background;
    }
}

.active {
    color: $color-active-text;
    background: $color-active-background;

    &.save {
        &:hover,
        &:focus {
            border-color: $color-bs-buttonBorder;
            background-color: $color-bs-buttonBg;
        }
    }

    &.cancel {
        &:hover,
        &:focus {
            border-color: #202020;
            background-color: #222;
        }
    }
}

.left {
    left: -$offset;
}

.right {
    right: -$offset;
}
